# ── PostgreSQL ────────────────────────────────────────────────────
POSTGRES_USER=fintrack_user
POSTGRES_PASSWORD=fintrack_pass

# ── Redis ─────────────────────────────────────────────────────────
REDIS_PASSWORD=

# ── pgAdmin ───────────────────────────────────────────────────────
PGADMIN_EMAIL=admin@fintrack.com
PGADMIN_PASSWORD=admin123

# ── JWT ───────────────────────────────────────────────────────────
JWT_SECRET=your_super_secret_key_generate_with_openssl_rand_base64_64
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
